<div id="<%= dom_id web %>">
  <h1> <%= web.name %> </h1>
  
  <%= link_to '< Back', webs_path %>
  
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
    </tr>
    </thead>
    
    <tbody>
    <% @weblinks.each do |web| %>
      <tr>        
        <td> <%= web.display_name %> </td>
        <td> <%= web.url %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <%= paginate @weblinks%>
</div>
