<p style="color: green"><%= notice %></p>

<h1>Webs</h1>

<%= form_tag(:controller => 'webs', :action =>'create', :method => 'post') do %>
  <input
    name="url" type="string"
  />
  
  <%= submit_tag 'Scrape' %> <br>

<% end %>

<div id="webs">
  
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Links</th>
        </tr>
      </thead>
      
      <tbody>
      <% @webs.each do |web| %>
        <tr>
          <td>
            <%= link_to web.display_name, web_path(web) %>
          </td>
          
          <td> <%= web.display_total %></td>
        </tr>
      <% end %>
      </tbody> 
    </table>
    
    <%= paginate @webs%>
</div>


